* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%235d00f2' fill-opacity='0.52'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

h1 {
    text-align: center;
    color: white;
    font-size: 10vh;
    background: rgba(255, 255, 255, 0.1);
    /* backdrop-filter: blur(1px); */
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    padding: 10px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    transition: transform 7s;
    /* transition: box-shadow 7s; */
    text-shadow: 3px 4px 1px rgb(31, 38, 135);
}

h1:hover {
    transform: rotateY(360deg);
    box-shadow: 0px 4px 5px black;
}

.box {
    border: 10px solid black;
    border-radius: 20px;
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    height: 50vh;
    padding: 70px;
    /* width: calc(30vw + 100px); */
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: transform 2.5s;
}

.box:hover {
    transform: translateY(-15px);
    box-shadow: 0px 0px 0px black;
}

@media (max-width: 425px) {
    .box {
        padding: 10px;
    }
}

h2 {
    padding-top: 25px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

#screen {
    font-size: 25px;
    color: black;
}

p {
    font-size: 2em;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-image: linear-gradient(45deg, blue, white);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

button {
    font-size: 20px;
    /* width: 90px; */
    padding: 10px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(45deg, rgb(124, 100, 211), rgb(0, 0, 0));
    color: white;
}

button:first-child {
    width: 90px;
}

button:last-child {
    margin-left: 100px;
}